h2{
  text-align: center;
  margin-top: 30px;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

tr, td, th {
  border: solid 2px green;
  text-align: center;
}

th{
  background-color: green;
  color: #ffff;
  width: 80px;
  font-size: 19px;
}